html
	head
		title Email Updated
	body
		h1 Email Updated
		p Hi #{userFirstName},
		p &nbsp;
		p You have successfully updated your email to this one.
		p &nbsp;
		p Regards,
		p The Ramster team.
