html
	head
		title Password Reset Request
	body
		h1 Password Reset Request
		p Hi #{userFirstName},
		p &nbsp;
		p It seems you've forgotten your password. Please&nbsp;
			a(href=resetPasswordLink) follow this link
			| to reset it.
		p &nbsp;
		p Regards,
		p The Ramster team.
