html
	head
		title Email Update Request
	body
		h1 Email Update Request
		p Hi #{userFirstName},
		p &nbsp;
		p We've received your email update request. To set your new email correctly, please verify that it's you by&nbsp;
			a(href=updateEmailLink) following this link
			| .
		p &nbsp;
		p Regards,
		p The Ramster team.
